body {
    background-color: beige;
}

h1, p{
    text-align: center;
}
#timer {
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin: 0;
    height: 70px;
    width: 200px;
}

.row {
    text-align: center;
}

.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 1px black;
}

#message {
    text-align: center;
}


.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.teal {
    background-color: teal;
}

.purple {
    background-color: purple;
}

.cyan {
    background-color: cyan;
}

.yellow {
    background-color: yellow;
}

.maroon {
    background-color: maroon;
}

.color-hidden {
    background-color: gray;
}